*.iml
.gradle/
.idea/
.DS_Store
.cxx/
.externalNativeBuild/
.kotlin/

/build/
/app/build/
/captures/

local.properties

*.apk
*.aab
*.ap_
*.dex
*.class

*.hprof
*.log

target/ 
cli/target/
af.db

.codex

.history/
config.bat
node_modules
